<!DOCTYPE html>
<html lang="en">
    <%- include('./head.ejs') %>
<body class="bg-dark">
    
    <main class="container p-4 d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="bg-light p-4" style="max-width: 385px; width: 100%; border-radius: 10px;">
            <h3 class="mb-3">Admin Login</h3>
            <%if(messages.error){%>
                <p class="text-danger my-2">
                    <%= messages.error %>
                </p>
            <%}%>
            <form 
                action="/login" method="post" 
                class="d-flex flex-column"
                id="login-form"
            >
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <button class="btn btn-primary btn-large mt-3">Login</button>
            </form>
        </div>
    </main>

    <%- include('./footer.ejs') %>
</body>
</html>