<nav class="navbar bg-dark py-5">
    <div class="container fluid">
        <a href="/" class="navbar-brand text-light">
            SIRDASH Amin
        </a>
        <a href="/blogs/new" class="btn btn-outline-success">
            <i class="fa-solid fa-plus"></i>
            New Blog
        </a>
    </div>
</nav>